@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("//db.onlinewebfonts.com/c/7017698b5c5a2cc397cd3b0c0984d76f?family=U8");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body, html {
  font-family: "DM Sans", sans-serif;
  color: #353535;
  line-height: 27.2px;
  font-size: 16.5px;
}

body header {
  padding: 1.5rem;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 0 7px #ced3da;
}
@media screen and (min-width: 900px) {
  body header {
    padding: 25px 16px;
  }
}
body header .nav1 {
  display: none;
}
@media screen and (max-width: 1000px) {
  body header .nav1 {
    display: block;
  }
}
body header nav ul li > a {
  transition: color 0.8s, text-decoration 0.8s;
}
body header nav ul li > a:hover {
  color: #0D60D8;
}
body header nav .hamburger #bars:hover, body header nav .hamburger #x:hover {
  cursor: pointer;
}
body header nav .nav-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
body header nav .nav-div .nav-links {
  font-weight: 500;
}
body header nav .nav-div .nav-links ul li {
  padding: 1rem;
}
body header nav .nav-div .nav-links ul #save {
  position: relative;
}
body header nav .nav-div .nav-links .hover-dd {
  border: 1px solid #ececec;
  border-radius: 10px;
  width: 350px;
  font-size: 14px;
  box-shadow: 2px -3px 20px rgba(0, 0, 0, 0.04);
  z-index: 1;
  background-color: #fff;
  position: absolute;
  top: 70%;
  z-index: 1;
}
body header nav .nav-div .nav-links .hover-dd a {
  flex: 50%;
  padding: 10px 20px 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body header nav .nav-div .nav-links .hover-dd a:hover {
  background-color: #f9f9f9;
}
body header nav .nav-div .nav-links .hover-dd a img {
  position: relative;
  top: 6px;
  margin-right: 7px;
}
body header .nav2 {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  display: none;
}
@media screen and (min-width: 1000px) {
  body header .nav2 {
    display: flex;
  }
}
body header .nav2 .nav-div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}
body header .nav2 .nav-div2 .nav-links2 {
  font-weight: 500;
}
body header .nav2 .nav-div2 .nav-links2 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body header .nav2 .nav-div2 .nav-links2 ul #save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .nav2 .nav-div2 .nav-links2 ul li {
  padding-left: 40px;
}
body header .nav2 .nav-div2 .nav-links2 ul #save {
  position: relative;
}
body header .nav2 .nav-div2 .nav-links2 .hover-dd {
  border: 1px solid #ececec;
  border-radius: 10px;
  width: 350px;
  font-size: 14px;
  box-shadow: 2px -3px 20px rgba(0, 0, 0, 0.04);
  z-index: 1;
  background-color: #fff;
  position: absolute;
  top: 70%;
  z-index: 1;
}
body header .nav2 .nav-div2 .nav-links2 .hover-dd a {
  flex: 50%;
  padding: 10px 20px 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
body header .nav2 .nav-div2 .nav-links2 .hover-dd a:hover {
  background-color: #f9f9f9;
}
body header .nav2 .nav-div2 .nav-links2 .hover-dd a img {
  position: relative;
  top: 6px;
  margin-right: 7px;
}
body header .nav2 .btns a {
  margin-top: 0;
}
body .top-sec {
  padding: 120px 16px 10px;
}
@media screen and (min-width: 900px) {
  body .top-sec {
    padding: 50px 16px 10px;
  }
}
body .top-sec > * {
  transition: all 0.3s ease-in-out;
}
body .top-sec .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .top-sec .top-div {
  margin: 0 0 90px;
  padding: 0 15px;
}
body .top-sec .top-div .text {
  max-width: 500px;
}
@media screen and (min-width: 900px) {
  body .top-sec .top-div .text {
    margin: initial;
  }
}
body .top-sec .top-div .btns, body .top-sec .top-div p {
  margin-top: 10px;
}
body .top-sec .img-group {
  position: relative;
}
body .top-sec .img-group .headerImg {
  position: absolute;
  top: 38px;
  left: -8%;
}
body .top-sec .img-group .card1 {
  position: absolute;
  top: 170px;
  left: -22%;
}
body .top-sec .img-group .card2 {
  position: absolute;
  bottom: 50px;
  right: 0;
}
body .top-sec .img-group .circle {
  position: absolute;
  right: 0;
  top: 170px;
}
body .top-sec .img-group .cross {
  position: absolute;
  left: -18%;
  top: 2px;
}
body .top-sec .img-group .dots {
  position: absolute;
  left: -12%;
  top: 61%;
}
body .security {
  padding: 90px 16px 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .security .security-img {
  margin: 0 0 40px;
}
body .security .security-text p {
  margin: 10px 0 25px;
}
body .security a {
  font-weight: 500;
  color: #0d60d8;
}
body .cards {
  padding: 60px 16px 50px;
  text-align: center;
}
body .cards .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .cards .four-ways-div {
  flex: 0 0 100%;
}
body .cards .four-ways-div .four-ways {
  padding: 0 15px;
  padding-bottom: 40px;
  margin: 30px auto !important;
  max-width: 350px;
}
body .cards .four-ways-div .four-ways p {
  margin: 18px 0 26px;
}
body .cards .card {
  background-color: #f9f9f9;
  margin: 30px auto !important;
  padding: 30px;
  border-radius: 20px;
  max-width: 350px;
}
body .cards .card:hover {
  background-color: #faf7f7;
  cursor: pointer;
}
body .cards .card a h5 {
  font-size: 22px;
  margin: 25px 0 0;
}
body .cards .card a p {
  margin: 18px 0 40px;
}
body .cards .card a div {
  font-weight: 500;
}
body .cards .card a div img {
  position: relative;
  top: 10px;
  margin-right: 8px;
}
body .investify {
  text-align: center;
  padding: 20px 16px 90px;
}
@media screen and (min-width: 900px) {
  body .investify {
    display: flex;
  }
  body .investify .investify-imgs {
    flex: 0 0 40%;
    padding: 0 15px;
    text-align: right;
    justify-content: center;
  }
}
body .investify .invest-text-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 900px) {
  body .investify .invest-text-div {
    width: 100%;
    padding: 0 15px;
  }
}
body .investify #invest-circle {
  position: absolute;
  left: 55px;
  top: 170px;
  z-index: -10;
}
@media screen and (min-width: 900px) {
  body .investify #invest-circle {
    left: -10px;
  }
}
body .investify #invest-dots {
  position: absolute;
  right: 150px;
  z-index: -10;
  top: 30px;
}
@media screen and (min-width: 900px) {
  body .investify #invest-dots {
    right: -20px;
  }
}
body .investify #invest-text {
  margin-top: 70px;
  padding: 0 15px;
  max-width: 530px;
}
@media screen and (min-width: 900px) {
  body .investify #invest-text {
    text-align: left;
    padding: 0 15px;
    align-self: center;
    justify-self: center;
  }
}
body .investify #invest-text a {
  color: #7913e5;
  font-weight: 700;
  background-image: linear-gradient(180deg, transparent 70%, #f6dbf8 0);
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: 0 100%;
}
body .investify #invest-text a:hover {
  background-size: 100% 100%;
}
body .investify #invest-text #percent {
  background-color: #f7f0ff;
  margin-bottom: 30px;
  color: #7913e5;
  display: inline-block;
  padding: 6px 22px;
  font-weight: 700;
  border-radius: 40px;
}
body .investify #invest-text h2 {
  font-size: 45px;
  letter-spacing: 0;
}
@media screen and (min-width: 900px) {
  body .investify #invest-text h2 {
    font-size: 56px;
  }
}
body .investify #invest-text #invest-p {
  margin: 25px 0;
}
body .saver {
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 900px) {
  body .saver {
    display: flex;
    flex: 1;
  }
}
body .saver #blue {
  background-color: #0D60D8;
  padding: 80px 16px;
}
@media screen and (min-width: 900px) {
  body .saver #blue {
    flex: 60%;
    text-align: left;
  }
}
body .saver #blue p {
  margin: 15px 5px 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 900px) {
  body .saver #blue p {
    margin: 15px 0 0;
  }
}
body .saver #blue a {
  display: block;
  margin: 45px auto 0 auto;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  body .saver #blue a {
    margin: 45px 10px 0 0;
  }
}
body .saver #blue a img {
  position: relative;
  top: 10px;
  margin-right: 10px;
}
body .saver #background {
  width: 100%;
  background-image: url("../imgs/saver.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding: 0 15px;
}
@media screen and (min-width: 900px) {
  body .saver #background {
    height: auto;
    max-width: 450px;
  }
}
body .testimonials {
  padding: 100px 16px;
}
@media screen and (min-width: 900px) {
  body .testimonials .container .row {
    display: flex;
    flex-direction: row-reverse;
  }
}
body .testimonials .container .row .mil-div {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  body .testimonials .container .row .mil-div {
    justify-content: start;
    text-align: left;
  }
}
body .testimonials .container .row .mil-div .mil {
  margin: 0 0 70px;
  padding: 0 15px;
  max-width: 500px;
}
body .testimonials .container .row .mil-div .mil p {
  margin: 13px 0 11px;
}
body .testimonials .container .row .boxes {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  overflow: hidden;
  position: relative;
}
body .testimonials .container .row .boxes::before {
  content: "";
  height: 50px;
  background: linear-gradient(180deg, #fff 0, hsla(0deg, 0%, 100%, 0));
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
body .testimonials .container .row .boxes::after {
  content: "";
  height: 50px;
  background: linear-gradient(180deg, #fff 0, hsla(0deg, 0%, 100%, 0));
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: rotate(180deg);
}
@media screen and (min-width: 900px) {
  body .testimonials .container .row .boxes {
    flex: 0 0 50%;
  }
}
body .testimonials .container .row .boxes .box {
  max-width: 420px;
  padding: 11px 17px 24px 18px;
  margin-bottom: 10px !important;
  background-color: #f9f9f9;
}
@media screen and (min-width: 900px) {
  body .testimonials .container .row .boxes .box {
    margin-right: 30px;
  }
}
body .testimonials .container .row .boxes .box > p {
  font-size: 12px;
  color: #727272;
  text-align: right;
}
body .testimonials .container .row .boxes .box img {
  border-radius: 50px;
  margin: 5px 15px 0 0;
  height: 35px;
}
body .testimonials .container .row .boxes .box > div {
  display: flex;
}
body .testimonials .container .row .boxes .box .testimony {
  text-align: left;
  font-size: 12px;
}
body .testimonials .container .row .boxes .box h6 {
  font-size: 12.82px;
  text-align: left;
}
body .featured {
  padding: 65px 16px;
}
body .featured .row {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  body .featured .row {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
body .featured .row a {
  margin: 0 25px;
}
body .featured .row a div {
  vertical-align: bottom;
}
body .featured .row a div img {
  vertical-align: bottom;
}
body .featured .row .column {
  padding-bottom: 30px;
}
@media screen and (min-width: 900px) {
  body .featured .row div:nth-child(1) {
    padding: 0 15px;
  }
}
body footer {
  padding: 80px 16px 10px;
  font-size: 12.82px;
  font-weight: 500;
}
body footer .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 900px) {
  body footer .row .column {
    flex: 1;
    width: 100%;
  }
}
body footer h5 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
}
body footer a {
  display: block;
  margin-bottom: 3px;
  transition: color 0.5s;
}
body footer a:hover {
  color: #0d60d8;
}
body footer .column {
  width: 100%;
  margin: 0 0 30px;
  padding: 0 15px;
  flex: 33.333333%;
}
@media screen and (min-width: 900px) {
  body footer .column {
    max-width: 20%;
  }
}
body footer .audit {
  flex: 100%;
}
body footer .audit #audit-img {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid whitesmoke;
}
body footer #contact {
  flex: 100%;
}
@media screen and (min-width: 900px) {
  body footer #contact {
    text-align: right;
    flex: 33.333333%;
  }
}
body footer .socials {
  display: flex;
}
@media screen and (min-width: 900px) {
  body footer .socials {
    justify-content: right;
  }
}
body footer .socials a {
  margin-right: 10px;
  transition: 0.5s;
}
body footer .socials a:hover {
  color: #0c1825;
  transform: translateY(-3px);
}
body footer .about {
  margin-bottom: 30px;
}
body footer .about #about {
  margin-bottom: 25px;
}
body footer .about #last-p {
  color: #083e9e;
}
body h1 {
  font-size: 55px;
  line-height: 72px;
}
body h2 {
  font-size: 41px;
}
body h4 {
  font-size: 33px;
  line-height: 41.21px;
}
body h3 {
  font-size: 20px;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: U8 !important;
  font-weight: 700;
  line-height: normal;
}
body a {
  text-decoration: none;
  color: inherit;
}
body li {
  list-style: none;
}
body .download-btn {
  border: 1px solid #ddd;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 12px;
  display: inline-block;
  text-align: center;
  margin-top: 27px;
}
body .download-btn img {
  position: relative;
  top: 5px;
  margin-right: 4px;
  z-index: -1;
}
body .btn {
  padding: 16px 22px;
  border: 1px solid #bbb;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  margin-top: 27px;
}
body .bold {
  font-weight: 700;
}
body .btn-bcb {
  background-color: #0c1825;
  color: #fff;
  transition: background-color 0.8s;
}
body .btn-bcb:hover {
  background-color: #0d60d8;
}
body .btn-bcw {
  color: #0c1825;
  transition: border 0.8s, color 0.8s, transform 0.8s;
}
body .btn-bcw:hover {
  color: #0d60d8;
  border: 1px solid #0d60d8;
  transform: translateY(-5px);
}
body .df {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .dn {
  display: none;
}
body .db {
  display: block;
}
body .dfc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body .tac {
  text-align: center;
}

.kQOhaa {
  animation: 35s linear 0s infinite normal none running eMdsbB;
}

@keyframes eMdsbB {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-675px);
  }
}
@media screen and (min-width: 900px) {
  body .top-sec .row {
    flex-direction: row;
  }
  body .top-sec .row .column {
    padding: 0 15px;
    flex: 50%;
  }
  body .top-sec .row .img-group {
    margin-left: 15px;
  }
  body .top-sec .row .top-div {
    text-align: left;
  }
  body .security {
    flex-direction: row;
  }
  body .security div {
    padding: 0 15px;
  }
  body .security .security-img {
    text-align: right;
    flex: 40%;
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0;
  }
  body .security .security-img img {
    margin-left: 200px;
  }
  body .security .security-text {
    text-align: left;
  }
}
@media screen and (min-width: 900px) and (min-width: 1098px) {
  body .cards .row .four-ways-div {
    flex: none;
  }
}
@media screen and (min-width: 900px) {
  body .cards .row .four-ways {
    margin: 0 auto;
    margin-left: 0;
  }
}
@media screen and (min-width: 900px) and (min-width: 1098px) {
  body .cards .row .four-ways {
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  body .cards .row .card {
    text-align: left;
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 900px) {
  body .blue-content {
    margin-right: 28%;
  }
}

/*# sourceMappingURL=style.css.map */
